
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    font-family: fantasy;
    background-image: url("./images/background-image.jpg");
    color: #fff;
    margin: 0;
  }

  
  #header{
    text-align: center;
    color: white;
    font-style:italic;
    font-size: xx-large;
    background-color: transparent;
    position: static;


  }

 
  .card {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 40px;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  
  .container {
    padding: 20px;
  }

  

  p {
    margin: 10px 0;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  

  .sidebar {
    width: 20%;
    text-align: center;
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
  
  .films {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .film-item {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .film-item:hover {
    background-color: #333;
  }
  
 
  .content {
    margin-left: 25%;
    padding: 20px;
  }
  
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: static;
      height: auto;
      margin-bottom: 20px;
      overflow-y: visible;
    }
  
    .content {
      margin-left: 0;
      padding: 10px;
    }
  }